# ------------------------
# 🔒 환경 설정 파일
# ------------------------
.env
.env.*

# ------------------------
# 🐍 Python 관련
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# 가상환경
venv/
.venv/

# pipenv/poetry 관련
Pipfile.lock
poetry.lock

# ------------------------
# 📦 빌드 & 배포
# ------------------------
dist/
build/
*.egg-info/

# ------------------------
# 🧪 테스트
# ------------------------
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# ------------------------
# 📝 에디터 설정
# ------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ------------------------
# ⚙️ OS 별 파일
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# 📦 기타
# ------------------------
*.log
nohup.out